/* COMPRA */
.compra {
  padding-bottom: 20px;
}

.compra h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #636363;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.compra h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #636363;
  margin: 10px auto 35px auto;
}

.inputs {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.inputs label {
  color: black;
}

.inputs input {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 370px;
  height: 35px;
  border: 3px solid #636363;
  background: transparent;
}

.inputs button {
  width: 140px;
  height: 40px;
  color: black;
  background: transparent;
  border: 3px solid #636363;
  margin-top: 20px;
}

.dados {
  color: black;
}

.dados h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #636363;
  margin-bottom: 15px;
}

.dados ul li {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.modelo {
  margin-top: 30px;
}

.modelo ul li {
  padding: 7px;
}

.foto {
  margin-bottom: 50px;
}
